@using watchtower.Services 
@using watchtower.Models.Events

@inject IMatchManager _Match
@inject IMatchEventBroadcastService _MatchEvent

<div>
    <div style="border-bottom: 2px #e8b55c solid; font-size: 52pt; text-align: center;">
        @Player.RunnerName
    </div>

    <table class="table table-sm" style="color: #e8b55c; font-size: 24pt">
        <tr>
            <td>Score</td>
            <td>
                @Player.Score
            </td>
        </tr>

        <tr>
            <td>KPM</td>
            <td>
                @String.Format("{0,2:F2}", _kpm)
            </td>
        </tr>

        <tr>
            <td>HSR%</td>
            <td>
                @String.Format("{0,2:F2}%", _hsr)
            </td>
        </tr>

        <tr>
            <td>Deaths</td>
            <td>
                @Player.Deaths.Count
            </td>
        </tr>

        <tr>
            <td>K/D</td>
            <td>
                @String.Format("{0,2:F2}", _kd)
            </td>
        </tr>

        <tr>
            <td>Pace</td>
            <td>
                @if (Player.Score == 0) {
                    <span>
                        --:--
                    </span>
                } else {
                    <Timer Seconds="_pace"></Timer>
                }
            </td>
        </tr>

        <!--
        <tr>
            <td>Avg streak</td>
            <td>
                @String.Format("{0,2:F2}", _avgStreak)
            </td>
        </tr>
        -->

        <tr>
            <td>Max streak</td>
            <td>
                @_maxStreak
            </td>
        </tr>

    </table>
</div>

@code {

    [Parameter]
    public TrackedPlayer Player { get; set; } = default!;

    private double _kpm;
    private double _kd;
    private double _hsr;
    private double _avgStreak;
    private int _maxStreak;
    private int _pace;

    protected override void OnInitialized() {
        base.OnInitialized();

        _MatchEvent.OnPlayerUpdateEvent += OnPlayerUpdate;
        _MatchEvent.OnTimerEvent += OnTimerUpdate;

        UpdatePlayerStats();
    }

    private void UpdatePlayerStats() {
        int len = _Match.GetMatchLength();

        _kpm = (double) Player.Score / Math.Max(1D, (double) len) * 60D;
        _kd = (double) Player.ValidKills.Count / Math.Max(1D, (double) Player.Deaths.Count);
        _hsr = (((double) Math.Max(1, Player.ValidKills.Where(iter => iter.IsHeadshot == true).Count()) / ((double) Player.ValidKills.Count))) * 100;
        _pace = (int) Math.Floor((((double) _Match.GetSettings().KillGoal) / _kpm) * 60);

        if (Player.Streaks.Count > 0) {
            foreach (int streak in Player.Streaks) {
                if (streak > _maxStreak) {
                    _maxStreak = streak;
                }
                _avgStreak += streak;
            }
            _avgStreak = _avgStreak / Player.Streaks.Count;
        } else {
            _avgStreak = 0;
        }
    }

    private void OnPlayerUpdate(object? sender, Ps2EventArgs<TrackedPlayer?> args) {
        TrackedPlayer? runner = args.Payload;
        if (runner == null) {
            return;
        }

        if (runner.Index == Player.Index) {
            Player = runner;
            UpdatePlayerStats();
            InvokeAsync(() => {
                StateHasChanged();
            });
        }
    }

    private void OnTimerUpdate(object? sender, Ps2EventArgs<int> args) {
        UpdatePlayerStats();
        InvokeAsync(() => {
            StateHasChanged();
        });
    }

}
